<div class="container text-center" >
  <h2>
    <i class="fa-solid fa-face-sad-tear"></i>
    本当に退会しますか？
  </h2>
  <p>
    退会すると、会員登録情報や<br>
    これまでの投稿、コメント、お気に入り、フォロー、フォロワー、チャットのデータが閲覧できなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。
  </p>

  <%= link_to "退会しない", customer_path(current_customer.id), :class => "btn btn-primary ms-3" %>
  <%= link_to "退会する", customers_withdraw_path, method: :patch, :class => "btn btn-danger ms-3", data: { confirm: "本当に退会しますか？" }  %>
</div>
<br>