// Place all the styles related to the public/foster_parents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-deck {
  width: 700px;
  margin: 100px;
}

.card-title {
  font-size: 25px;
}

.card-text {
  font-size: 20px;
}