// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  width: 100%;
  height: 100%;
    .h2,footer {
      font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
        }
}