<div class="container" >
  <div class="about-body">
    <h2>
      <i class="fa-solid fa-paw" style="color: #20b2aa;"></i>
      Uchinokoのご利用方法について
      <i class="fa-solid fa-paw" style="color: #20b2aa;"></i>
    </h2>

  <div class="row">
    <div class="about-text">
    <div class="col-12">
      <h4>
        <i class="fa-solid fa-paw" style="color: #20b2aa;"></i>
        ゲストログインについて
      </h4>
      <p>
        Uchinokoを気軽にご利用いただくため、ゲストログインで利用することも可能です。<br>
        他のユーザーの投稿閲覧などは利用可能で、その他の投稿機能などを利用されたい場合は新規登録が必要となります。
      </p>
    </div>

    <div class="col-12">
      <h4>
        <i class="fa-solid fa-paw" style="color: #20b2aa;"></i>
          ギャラリーについて
      </h4>
      <p>
        ささやかなUchinokoとの思い出の共有やUchinokoじまん、他ユーザーのUchinokoを可愛がったりたくさんのユーザーとの交流ができます。<br>
        コメントやお気に入りをして交流をより深められます。
      </p>
    </div>

    <div class="col-12">
      <h4>
        <i class="fa-solid fa-paw" style="color: #20b2aa;"></i>
          迷子掲示板について
      </h4>
      <p>
        万が一Uchinokoが迷子になってしまった際や、迷子の子を見かけたり、迷子を保護している方などの情報共有に利用できます。<br>
        少しでも早く安全に多くの子がお家に帰れるようご協力お願いします。
      </p>
    </div>

    <div class="col-12">
      <h4>
        <i class="fa-solid fa-paw" style="color: #20b2aa;"></i>
          里親掲示板について
      </h4>
      <p>
        里親を探している方や里親になりたいと考えている方などの情報共有に利用できます。
        新しい家族を見つける際にご活用ください。
      </p>
    </div>

    <div class="col-12">
      <h4>
        <i class="fa-solid fa-paw" style="color: #20b2aa;"></i>
          ハッシュタグについて
      </h4>
      <p>
        【ギャラリー】【迷子掲示板】【里親掲示板】では投稿本文入力時に、【#】をつけた後に投稿にまつわるワードを入力するとハッシュタグとなります。
        複数のハッシュタグも入力可能です。<br>
        投稿の詳細画面にてハッシュタグをクリックすると同じハッシュタグで投稿している投稿を閲覧することができます。
      </p>
    </div>

    <div class="col-12">
      <h4>
         <i class="fa-solid fa-paw" style="color: #20b2aa;"></i>
          タイムラインについて
      </h4>
      <p>【ギャラリー】【迷子掲示板】【里親掲示板】へ投稿した自身の投稿、フォローしているユーザーの投稿を全て表示させます。</p>
    </div>

    <div class="col-12">
      <h4>
        <i class="fa-solid fa-paw" style="color: #20b2aa;"></i>
          チャット機能について
      </h4>
      <p>
        フォローし合っているユーザー同士で1:1のチャットをお楽しみいただけます。<br>
        チャット機能は、チャットをしたいユーザーのユーザーページ【チャットを始める】または【チャットへ】より利用可能です。
      </p>
    </div>

    <div class="col-12">
      <h4>
        <i class="fa-solid fa-paw" style="color: #20b2aa;"></i>
          グループについて
      </h4>
      <p>
        気の合うグループメンバー同士での交流にご活用ください。<br>
        グループを作成した管理者であれば、オフ会の開催やお知らせなどを一斉メールにてメンバーへ送信することも可能です。
      </p>
    </div>

    <div class="col-12">
      <h4>
        <i class="fa-solid fa-paw" style="color: #20b2aa;"></i>
          コラムについて
      </h4>
      <p>運営よりペットや動物にまつわる記事を掲載しています。</p>
    </div>

    <div class="col-12">
      <h4>
        <i class="fa-solid fa-paw" style="color: #20b2aa;"></i>
          検索バーについて
      </h4>
      <p>
        【ユーザー】ユーザー名で検索することが可能です。<br>
        【ギャラリー】【迷子掲示板】【里親掲示板】投稿タイトルや投稿本文のワードで検索することが可能です。
      </p>
      </div>
    </div>
  </div>
</div>
</div>