<h3>ようこそ、Uchinokoへ。</h3>
<p>このサイトは、Uchinokoと暮らす何気ない日常や思い出を共有できるサイトです。</p>
<p>その他、迷子の子や里親を探す子たちの手助けもしています。</p>
<p>さまざまなUchinokoたちに関する情報を入手したり、</p>
<p>かわいいUchinokoを自慢しあったり、</p>
<p>もっとUchinokoと過ごすことが楽しくなりますように。</p>