<div class="container text-center" >
  <h2>
    <i class="fa-solid fa-hospital" style="color: #20b2aa;"></i>
    病院登録一覧
    <i class="fa-solid fa-hospital" style="color: #20b2aa;"></i>
  </h2>
  <button type="button" class="btn btn-outline-info btn-lg">
    <i class="fa-solid fa-paper-plane"></i><%= link_to "病院登録画面へ", new_admin_hospital_path %>
  </button>
  <div class="card-deck" style="width:70rem">
    <% @hospitals.each do |hospital| %>
    <div class="card w-50 mx-auto shadow-lg">
      <%= image_tag hospital.hospital_image, class:"card-img-top"; %>
      <p class="card-title">
        <i class="fa-solid fa-hospital"></i><%= link_to hospital.name, admin_hospital_path(hospital.id) %>
      </p>
    </div>
  <% end %>
  </div>
</div>