<footer style="background-color:#87cefa">
  <div class = "border-top border-dark">
    <div class="container mb-3">
      <div class="row">
        <div class="mx-auto">
          <p class="text-white">Uhinoko</p>
        </div>
      </div>
    </div>
  </div>
</footer>